legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
@qbitum/material-react-ui:registry=https://saastackdev.qbitum.net/repository/qbitum-dev
//saastackdev.qbitum.net/repository/:_auth="bnBtcHVibGlzaGVyOnB1Ymxpc2hAMzY1ZA=="
always-auth=true