legacy-peer-deps=true
auto-install-peers=true
strict-peer-dependencies=false
@makeit:registry=https://asia-southeast1-npm.pkg.dev/makeitmes/mes-npm/
//asia-southeast1-npm.pkg.dev/makeitmes/mes-npm/:always-auth=true